/* main page stylings */

@font-face {
    font-family: 'Raleway Regular';
    font-weight: 400;
    src: url('media/raleway-regular-webfont.woff') format('woff'),
         url('media/raleway-regular-webfont.woff2') format('woff2');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--off-white);
}


:root {
    --dark-red: rgb(67, 0, 0);
    --light-blue: #669bbc;
    --off-white: #f2f7fa;
    --light-gray: #cccecf;
    --dark-blue: #003049;;
    --card-shadow: #aab4b9;
}

/* top navigation */

.top-nav {
    color: var(--dark-red);
    background-color: white;
    font-family: 'Raleway Regular', system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    box-shadow: 5px 5px 10px var(--card-shadow);
}

.top-nav img {
    height: 36px;
    width: 36px;
}

.nav-logo,
.user {
    display: flex;
    align-items: center;
}

.nav-logo {
    gap: 12px;
}

.user {
    gap: 8px;
}

.user img {
    border-radius: 90px;
    background-color: var(--off-white);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    padding: 16px;
}

#add-btn {
    background-color: var(--dark-blue);
    color: white;
    border-radius: 8px;
    padding: 8px;
    font-family: 'Raleway Regular', system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

dialog {
    padding: 36px; 
    border-radius: 8px;
    backdrop-filter: blur(20px);
}

.dialog-content {
    display: flex;
}

.dialog-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    color: var(--dark-red);
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bold;
}

#dialog-submit,
#dialog-close {
    background-color: var(--dark-blue);
    color: white;
    font-size: .75rem;
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-family: 'Raleway Regular', system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
}

.dialog-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 16px;
}

.dialog-checkbox {
    display: flex;
    align-items: center;
    padding: 8px;
    color: var(--dark-red);
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bold;
    gap: 4px;
}

/* body & cards */

.card-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 8px;
    padding: 16px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 36px;
    box-shadow: 5px 5px 10px var(--card-shadow);
}

.card h1 {
    font-family: 'Raleway Regular', system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--dark-blue);
    font-size: 1.25rem;
}

.card p {
    font-family: 'Raleway Regular', system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: var(--dark-red);
}

.remove-btn {
    background-color: var(--dark-blue);
    font-size: 1rem;
    color: white;
    padding: 8px;
    border-radius: 16px;
    border: none;
}

